<%= month_calendar events: @posts do |date, posts| %>
  <%= date.day %>

  <% posts.each do |post| %>
    <div>
      <%= link_to("#{post.content}", "/posts/#{post.id}") %>
    </div>
  <% end %>
<% end %>