<h1>パスワード再設定画面</h1>


<%= form_tag("/users/password_reset_main") do %>
  <p>ID</p>
  <input type="text" name="random_id">
  <p>パスワード</p>
  <input type="password" name="password">
  <input type="submit" value="再登録">
<% end %>