<h1>ご登録されているメールアドレスを入力してください</h1>
<p>ご登録されているメールアドレス宛にメールを送信します</p>

<%= form_tag("/users/password_recovery") do %>
  <p>メールアドレス</p>
  <input type="email" name="email" value="<%= @email %>">
  <input type="submit" value="確認メール送信">
<% end %>