<h1>Notice#initial_registration</h1>

<p><%= @greeting %>, find me in app/views/notice_mailer/initial_registration.html.erb</p>
<p><%= @link %>, find me in app/views/notice_mailer/initial_registration.html.erb</p>
<p>ID: <%= @random_id %></p>
