<h1>投稿一覧画面</h1>
<div class="post-item">
  <% @posts.each do |post| %>
  <div class="posts-index-item">
    <%= post.content %><br>
    <%= post.link %><br>
    <img src="<%= "/tweet_images/#{post.img}" %>" >
    <br>
    <%= link_to("詳細", "/posts/#{post.id}") %>
    <% end %>
  </div>
</div>